{{/* boolean feature tags */}}
{{- $ephemeral := false -}}{{/* true if this machine is ephemeral, e.g. a cloud or VM instance */}}
{{- $work := false -}}{{/* true if this machine is a work machine */}}
{{- $headless := false -}}{{/* true if this machine does not have a screen and keyboard */}}
{{- $personal := false -}}{{/* true if this machine should have personal secrets */}}
{{- "" -}}

{{/* detect GitHub codespaces, VSCode remote containers, Docker containers, Multipass VMs, and Vagrant boxes */}}
{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") (eq .chezmoi.username "root" "ubuntu" "vagrant" "vscode") -}}
{{-   $ephemeral = true -}}
{{-   $headless = true -}}
{{- end -}}

{{- if not $ephemeral -}}
{{-   if stdinIsATTY -}}
{{-     $headless = promptBoolOnce . "headless" "Is this machine headless" -}}
{{-     $ephemeral = promptBoolOnce . "ephemeral" "Is this machine ephemeral" -}}
{{-     $personal = promptBoolOnce . "personal" "Is this machine personal" -}}
{{-     $work = promptBoolOnce . "work" "Is this machine for work" -}}
{{-   else -}}
{{-     $ephemeral = true -}}
{{-     $headless = true -}}
{{-   end -}}
{{- end -}}

{{- $email := "nicholasdavidson@proton.me" -}}
{{- if $work -}}
{{-   $email = promptStringOnce . "email" "What is your email address" -}}
{{- end -}}

[data]
    ephemeral = {{ $ephemeral }}
    email = {{ $email | quote }}
    work = {{ $work }}
    headless = {{ $headless }}
    personal = {{ $personal }}
