{{/* boolean feature tags */}}
{{- $personal := false -}}{{/* true if this machine should have personal secrets */}}
{{- $work := false -}}{{/* true if this machine is a work machine */}}
{{- $headless := false -}}{{/* true if this machine does not have a screen and keyboard */}}

{{/* detect WSL distributions */}}
{{- if and (eq .chezmoi.os "linux") (or (.chezmoi.kernel.osrelease | lower | contains "microsoft") (.chezmoi.osRelease.variant | lower | contains "wsl")) -}}
{{-   $headless = true -}}
{{- end -}}

{{- if stdinIsATTY -}}
{{-   $personal = promptBoolOnce . "personal" "Should this machine have personal secrets?" -}}
{{-   $work = promptBoolOnce . "work" "Is this machine for work?" -}}
{{- else -}}
{{-   $headless = true -}}
{{- end -}}

{{- $email := "nicholasdavidson@proton.me" -}}
{{- if $work -}}
{{-   $email = promptStringOnce . "email" "What is your email address?" -}}
{{- end -}}

{{- $font := "FiraCode" -}}
{{- if not $headless -}}
{{-   $font := promptStringOnce . "font" "Which nerd font do you want to use?" $font -}}
{{- end -}}

[data]
    personal = {{ $personal }}
    work = {{ $work }}
    headless = {{ $headless }}
    email = {{ $email | quote }}
    font = {{ $font | quote }}
