{{- if not .headless }}
{{-   $fontDir := "" }}
{{-   if eq .chezmoi.os "darwin" }}
{{-     $fontDir = printf "Library/Fonts/%s" .font }}
{{-   else if eq .chezmoi.os "linux" }}
{{-     $fontDir = printf ".local/share/fonts/%s" .font }}
{{-   else if eq .chezmoi.os "windows" }}
{{-     $fontDir = "AppData/Local/Microsoft/Windows/Fonts" }}
{{-   end }}
["{{ $fontDir }}"]
    type = "archive"
    url = {{ gitHubLatestReleaseAssetURL "ryanoasis/nerd-fonts" (printf "%s.tar.xz" .font) | quote }}
    refreshPeriod = "168h"
{{- end }}